---
import FrontCard from "../components/Cards/FrontCard.astro";
import BackCard from "../components/Cards/BackCard.astro";
import Form from "../components/Form.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Index">
  <main>
    <div class="images-container p-4 mb-24 h-80">
      <div class="relative">
        <BackCard />
      </div>
      <div class="relative bottom-20">
        <FrontCard />
      </div>
    </div>

    <div>
      <Form />
    </div>
  </main>
</Layout>

<style>
  .images-container {
    background-image: url("images/bg-main-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
