---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Index">
  <main class="">
    <div class="images-container px-4 pt-12">
      <div class="">
        <img src="images/bg-card-back.png" alt="bg-card-back" />
      </div>
      <div class="mt-[-5rem]">
        <img src="images/bg-card-front.png" alt="bg-card-front" />
      </div>
    </div>

    <form class="flex flex-col p-6 gap-y-4">
      <div class="flex flex-col">
        <label class="text-gray-3 mb-2" for="name">CARDHOLDER NAME</label>
        <input
          class="flex-grow border p-4 rounded-lg border-gray-1"
          type="text"
          placeholder="e.g Jane Appleseed"
        />
      </div>

      <div class="flex flex-col">
        <label class="text-gray-3 mb-2" for="card-number">CARD NUMBER</label>
        <input
          class="flex-grow border p-4 rounded-lg border-gray-1"
          type="number"
          placeholder="e.g. 1234 5678 9123 0000"
        />
      </div>

      <div class="flex gap-x-4 bg-red-1">
        <div class="flex flex-col">
          <label class="text-gray-3 mb-2" for="exp-date"
            >EXP. DATE (MM/YY)</label
          >
          <div class="flex gap-x-4">
            <input
              class="border p-4 rounded-lg border-gray-1"
              type="number"
              placeholder="MM"
            />
            <input
              class="border p-4 rounded-lg border-gray-1"
              type="number"
              placeholder="YY"
            />
          </div>
        </div>

        <div class="flex flex-col mb-2">
          <label class="text-gray-3 mb-2" for="cvc">CVC</label>
          <input
            class="border p-4 rounded-lg border-gray-1"
            type="number"
            placeholder="e.g. 123"
          />
        </div>
      </div>

      <button class="bg-gray-3 p-4 rounded-lg text-white-1" type="submit"
        >Confirm</button
      >
    </form>
  </main>
</Layout>

<style>
  .images-container {
    background-image: url("images/bg-main-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
